<template>
	<div class="about-view max-w-3xl mx-auto p-2">
		<div class="bg-gray-200 p-2 rounded-lg">
			<p>
				CodeReview is a site to enable code reviews with any git commit or diff file, without having to use a service like GitHub/GitLab, or having to integrate software with your git repo.
			</p>
			<p class="mt-4">
				To use CodeReview, select (or drag and drop) a git commit/diff onto this site. Then you'll be able to leave comments, selecting lines for each if you'd like. The comments use the
				<a href="https://conventionalcomments.org/">Conventional Comment</a> format.
			</p>
			<p class="mt-4">
				Once you're finished leaving comments, you can export the review, send it over to the other person, and they can select this file to view the comments and leave replies.
			</p>
			<p class="mt-4">
				This is a 'serverless' site, so everything is handled in the client and none of the file or comment data is sent to a server.
				<a href="https://gitlab.com/PeterW570/verifier">Source Code</a>
			</p>
		</div>
	</div>
</template>
